<a href="https://colab.research.google.com/github/abhishekgaur52/Machine-Learning-With-Python/blob/main/machine_L_Salary_Expr_28Aug.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

pandas → handles dataset (CSV, cleaning, analysis).

numpy → used for mathematical operations .

matplotlib.pyplot → plotting graphs, Data Visu..

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

 importing the linear_model module from Scikit-learn (sklearn).
It is a collection of algorithms/models provided by sklearn to perform linear modeling.

Linear models are those where the prediction is a linear combination of input features.

In [ ]:
from sklearn import linear_model

In [ ]:
from sklearn.model_selection import train_test_split

Reads the uploaded CSV file into a DataFrame (df).

In [ ]:
df = pd.read_csv("Experience-Salary.csv")

In [ ]:
df

     exp(in months)  salary(in thousands)
0         18.290293             16.521825
1         17.023407             11.666234
2         26.343613             23.167255
3         19.105834             20.877145
4         27.742516             23.166236
..              ...                   ...
995       22.161741             24.666502
996       32.266497             24.160270
997       17.039030             19.903797
998       25.222124             21.974413
999       16.418028             19.634787

[1000 rows x 2 columns]

Gives column names, data types (int, float, object), and missing values count.

In [ ]:
print("\n--- Info ---")
print(df.info())

--- Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   exp(in months)        1000 non-null   float64
 1   salary(in thousands)  1000 non-null   float64
dtypes: float64(2)
memory usage: 15.8 KB
None

Shows summary statistics (mean, min, max, std, etc.) for numeric columns.

In [ ]:
print("\n--- Description ---")
print(df.describe())

--- Description ---
       exp(in months)  salary(in thousands)
count     1000.000000           1000.000000
mean        26.157825             26.722597
std          8.717091              8.844761
min          0.697594             -1.276342
25%         20.073600             20.531008
50%         25.875225             26.745576
75%         32.406986             32.615753
max         49.463222             55.297016

Checks how many missing (NaN) values are in each column

In [ ]:
print("\n--- Missing Values ---")
print(df.isnull().sum())

--- Missing Values ---
exp(in months)          0
salary(in thousands)    0
dtype: int64

Counts how many duplicate rows exist in the dataset.

In [ ]:
print("\n--- Duplicates ---")
print(df.duplicated().sum())

--- Duplicates ---
0

df.fillna(df.mean()) → fills missing values with the mean of the column.

df.drop_duplicates() → removes duplicate rows.

inplace=True → applies the change directly to the dataframe.
Handle the missing value and duplicate values.

In [ ]:

df.fillna(df.mean(numeric_only=True), inplace=True)   # replace missing with mean
df.drop_duplicates(inplace=True)                      # drop duplicates

print("\n--- After Cleaning ---")
print(df.shape)

--- After Cleaning ---
(1000, 2)

In the above output
1000 ->it has 1000 dataset and 1000 rows

2 -> it has 2 coloumn

X → feature (independent variable) → here: YearsExperience.

y → target (dependent variable) → here: Salary.

In [ ]:
# Step 5: Split data into X (independent) and y (dependent)
X = df[['exp(in months)']]  # Feature
y = df['salary(in thousands)']             # Target

Splits data → 80% for training, 20% for testing.

random_state=42 ensures results are the same every time you run.

In [ ]:
# Train/Test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Creates a Linear Regression object.

fit(X_train, y_train) → trains the model using training data.